<% content_for :application do %>

	<tr>
		<!-- ============ NAVIGATION BAR SECTION ============== -->
		<td colspan="2" align="right" style="height: 20px;" bgcolor="#a9ae9f">
          <%= render 'layouts/user_widget' %>
        </td>
	</tr>

	<tr>

		<!-- ============ LEFT COLUMN (MENU) ============== -->
		<td width="20%" valign="top" bgcolor="#999f8e">
			<%= link_to 'Find Events', '/events' %><br>
            <%= link_to "My Events", '/events/user' %><br>
            <!-- only show create event and reports link if user == admin -->
            <% if current_user.admin  == true %>
            <%= link_to 'Create Event', new_event_path %><br>
            <a href="/users/list">Users</a><br>
			<a href="#">Reports</a><br>
            <% end %>
		</td>

		<!-- ============ RIGHT COLUMN (CONTENT) ============== -->
		<td width="80%" style="padding-bottom:30px;" valign="top" bgcolor="#d2d8c7">

			<%= yield :home %>

		<td>
	</tr>

<% end %>

<%= render template: "layouts/application" %>